%header
#contents
 //左のメニュー
 .left-content
  //左メニューヘッダー
  .left-content__header
   .left-content__content-box
    %h3.left-content__username
     = current_user.name
    %ul.left-content__header-list
     %li.left-content__header-list__list
      = link_to new_group_path do
       %i.fa.fa-edit.font-color
     %li.left-content__header-list__list
      = link_to edit_user_path(current_user) do
       %i.fa.fa-cog.font-color
  //グループ一覧
  .left-content__group-index
   .left-content__content-box
    - current_user.groups.each do |group|
     =link_to group_messages_path(group) do
      = render partial:"groups", locals:{group:group}
 //右のチャット画面
 .right-content
  .right-content_container
   //チャット画面ヘッダー
   .right-content__header.clearfix
    .right-content__header__container
     .right-content__header__left-item
      .right-content__header__left-item__group
       = @group.name
      %h4.each-member Member :
      .right-content__header__left-item__members
       -@group.users.each do |user|
        .each-member
         =user.name
     .right-content__header__right-item
      = link_to "Edit", edit_group_path(@group.id), class: "edit-btn btn"
   //チャット画面内容
   .right-content__messages.clearfix
    .right-content__messages__container
     .right-content__messages__box
      -@messages.each do |message|
       = render partial:"message", locals:{message: message}
   //送信ボックス
   .right-content__input
    .form.message-box
     = form_for [@group, @message] do |f|
      = f.text_field :content, class: "text-box btn", placeholder: "type a message"
      .form__mask
       = f.label :image, class: "form__mask__image" do
        %i.fa.fa-image
        =f.file_field :image, style: "display:none;"
       = f.submit "Send", class: "submit"

